<h4 class="text-center">Detalles Usuario</h4>
<div class="form-group">
    <div class="form-control">
        <label><b>ID: </b>{{usuario.id}}</label>
    </div>
    <div class="form-control">
        <label><b>Usuario: </b>{{usuario.usuario}}</label>
    </div>
    <div class="form-control">
        <label><b>Nacionalidad: </b>{{usuario.nacionalidad}}</label>
    </div>
    <div class="form-control">
        <label><b>Email:</b>{{usuario.email}}</label>
    </div>
    <div class="form-control">
        <button (click)="redireccionarListaUsuario()" class="btn btn-info">Lista Usuarios</button>
    </div>
</div>
